body {
    font-family: Arial, sans-serif;
    background-color: #D3EAFF;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #FFEB12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #ffeb12;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #FFEB12;
    color: blue;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #ffeb12;
}
/* Estilos para el formulario */
form {
  background-color: #c3ffd6;
  color: #333;
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  margin: 20px auto; /* Centra el formulario en la página */
}

/* Estilos para los inputs */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px; /* Espacio entre los inputs */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilos para el botón */
input[type="submit"] {
  background-color: #c3fffe;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #FFEB12;
}

/* Estilos para los labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

fieldset {
  padding: 20px;
  border: none;
}

legend {
  font-weight: bold;
}
